@font-face {
  font-family: 'Intro';
  src: url(../fonts/Intro.otf);
}

body {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 90vw;
  margin: 0 auto;
  margin-top: 2em;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__image {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url(img/logo.svg);
  margin-right: 11px;
}

.logo__text {
  display: inline-block;
  width: 150px;
  height: 18px;
  background-image: url(img/logotxt.svg);
}

.btn {
  font-family: 'Intro', 'Arial', sans-serif;
  color: #fff;
  background-color: #5222D0;
  border-radius: 100px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  padding: 11px 13px 9px 16px;
  margin-right: 6px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.btn:hover {
  background-color: #6c3ce7;
}

.btn:active {
  background-color: #431da1;
  color: #fff;
}

.btn__icon {
  width: 14px;
  height: 14px;
  margin-left: 6px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 113px;
}

.banner {
  width: 40%;
  margin-top: 5em;
}

.banner__title {
  font-family: 'Intro', 'Arial', sans-serif;
  font-size: 3.6em;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 123%;
  color: black;
  width: 515px;
  margin-top: 0;
  margin-bottom: 0;
}

.banner__text {
  color: black;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 160%;
  width: 487px;
  margin-bottom: 54px;
  margin-top: 11px;
}

.banner__btn {
  font-weight: 700;
  font-size: 2.1em;
  padding: 31px 33px 20px 34px;
  letter-spacing: 1px;
  margin-left: -9px;
}

.banner__icon {
  width: 41px;
  height: 29px;
  margin-left: 16px;
}

.picture {
  background-image: url(img/background.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 60%;
}

.picture__img {
  margin-top: 32px;
  margin-left: 62px;
}

.footer {
  margin-left: 71px;
  margin-top: -80px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.footer__item {
  margin-right: 35px;
}

.footer__link {
  text-decoration: none;
  color: #5222D0;
  font-size: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner {
    width: 100%;
    margin-top: 20px;
  }
  .picture {
    background-size: 100%;
  }
  .picture__img {
    height: 50vh;
  }
  .footer {
    margin-top: 70px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .banner {
    width: 100%;
    margin-top: 20px;
  }
  .picture {
    width: 100%;
  }
  .footer {
    margin-top: 70px;
  }
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style01.css.map */