@media screen and (max-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    padding: 16px 16px 0;
  }
  .header__little-img {
    display: block;
  }
  .header__img {
    display: none;
  }
  .header__name {
    display: none;
  }
  .header__item:hover {
    background-image: none;
  }
  .header__navigation {
    display: none;
  }
  .header__buttons {
    display: none;
  }
  .burger {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 75px 0px;
        grid-template-columns: 75px 0px;
  }
  .burger__box {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 9px 9px;
    -ms-grid-columns: 9px 9px;
        grid-template: 9px 9px / 9px 9px;
    gap: 2px;
  }
  .burger__title {
    font-size: 14px;
    font-weight: 500;
    line-height: 34px;
  }
  #menuToggle {
    display: block;
    position: relative;
    right: 25px;
    top: 7px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }
  #menuToggle input:checked ~ ul {
    -webkit-transform: none;
            transform: none;
    display: inline-block;
  }
  #menuToggle input ~ ul {
    display: none;
  }
  #menuToggle a:hover {
    color: #48B760;
  }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    overflow: hidden;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  #menuToggle span {
    display: block;
    width: 9px;
    height: 9px;
    margin-bottom: 5px;
    position: relative;
    background: #49b962;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menuToggle input:checked ~ span {
    background: #232323;
  }
  #menu {
    background-color: #eeeeee;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    right: 0;
    width: 250px;
    padding: 20px 10px 30px 30px;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(370px, 0);
            transform: translate(370px, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  .icon {
    width: 24px;
    height: 24px;
    top: 26px;
  }
  .title {
    font-size: 24px;
    line-height: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .agrobot {
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 17px;
    padding-right: 20px;
    padding-bottom: 147px;
  }
  .agrobot__btn {
    padding: 15px 25px;
    margin-left: 0px;
    position: absolute;
    left: 78px;
    bottom: 58px;
  }
  .banner__title {
    font-size: 70px;
    line-height: 82px;
    margin-top: 36px;
    margin-bottom: 9px;
    margin-left: -1px;
  }
  .banner__description {
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
    margin-bottom: 19px;
  }
  .banner__text {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 42px;
  }
  .banner__img-block {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-top: 20px;
    padding-left: -45px;
    padding-top: 0px;
  }
  .banner__img-text {
    margin: 11px 0px;
  }
  .banner__img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .banner__img_big {
    display: none;
  }
  .banner__img_small {
    padding-left: 0px;
    padding-right: 14px;
    width: 24px;
  }
  .goods {
    padding: 16px 16px 45px 16px;
  }
  .goods__background {
    display: none;
  }
  .goods__title {
    margin: 30px 0px 34px 24px;
  }
  .goods__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .goods__text_full {
    display: none;
  }
  .catalog {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 14px;
    padding: 20px;
  }
  .product__icon {
    width: 62px;
    height: 62px;
    margin: 0;
  }
  .product__info {
    margin-left: 6px;
  }
  .product__title {
    text-align: start;
    margin-bottom: 3px;
  }
  .product__description {
    margin-bottom: 0;
  }
  .product__btn {
    display: none;
  }
  .product__arrow {
    display: inline-block;
  }
  .contact {
    background-image: none;
  }
  .contact__title {
    font-size: 24px;
    padding: 0 16px 40px;
  }
  .contact__icon {
    display: none;
  }
  .contact__tiny-icon {
    display: block;
    position: relative;
    bottom: 21px;
    left: 16px;
  }
  .contact__container {
    -ms-grid-rows: 340px 116px 404px;
    -ms-grid-columns: 1fr;
        grid-template: 340px 116px 404px / 1fr;
    max-width: none;
    margin: 0 16px;
  }
  .contact__forms {
    width: 100%;
  }
  .contact__forms_input {
    padding: 16px 30px;
    font-size: 18px;
  }
  .contact__forms_input::-webkit-input-placeholder {
    font-size: 18px;
  }
  .contact__forms_input:-ms-input-placeholder {
    font-size: 18px;
  }
  .contact__forms_input::-ms-input-placeholder {
    font-size: 18px;
  }
  .contact__forms_input::placeholder {
    font-size: 18px;
  }
  .contact__forms_textarea {
    font-size: 18px;
    padding: 19px 30px 18px;
  }
  .contact__forms_textarea::-webkit-input-placeholder {
    font-size: 18px;
  }
  .contact__forms_textarea:-ms-input-placeholder {
    font-size: 18px;
  }
  .contact__forms_textarea::-ms-input-placeholder {
    font-size: 18px;
  }
  .contact__forms_textarea::placeholder {
    font-size: 18px;
  }
  .contact__button {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin: 19px 0 0 0;
  }
  .contact__point {
    display: none;
  }
  .contact__map {
    margin-left: 0;
    height: 354px;
  }
  .cart {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 82px;
        grid-template-columns: 1fr 82px;
  }
  .cart__img {
    width: 82px;
    height: 130px;
    -o-object-fit: cover;
       object-fit: cover;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  .work {
    padding: 0px 16px 16px 16px;
    margin-bottom: 0;
  }
  .work__background {
    display: none;
  }
  .work__btn {
    margin-bottom: 30px;
  }
  .work__title {
    margin-left: 25px;
    margin-bottom: 33px;
  }
  .work__icon {
    left: -24px;
  }
  .work-process {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-flow: inherit;
    justify-items: center;
    grid-gap: 38px;
    margin-bottom: 50px;
  }
  .work-stage {
    width: 328px;
  }
  .work-stage__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }
  .work-stage__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width: 225px;
  }
  .work-stage__description_extra {
    display: none;
  }
  .credit {
    padding: 0px 16px 30px 16px;
  }
  .credit__header {
    margin-bottom: 95px;
  }
  .credit__title {
    margin-top: 5px;
    margin-left: 25px;
  }
  .credit__icon {
    left: -24px;
  }
  .credit__text {
    left: 25px;
    top: 40px;
    width: 205px;
  }
  .credit__banner {
    background-image: url(../assets/img/credit_main_small.jpg);
    margin-bottom: 0px;
  }
  .credit__slogan {
    font-size: 24px;
    line-height: 25px;
    width: 279px;
    margin-left: 12px;
    padding-top: 142px;
    padding-bottom: 11px;
  }
  .bank-icon {
    width: 72px;
    height: 24px;
    margin-left: 17px;
    margin-top: -20px;
  }
  .leasing__details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 44px;
  }
  .leasing__wrap {
    -ms-grid-columns: 62% 38%;
        grid-template-columns: 62% 38%;
    row-gap: 20px;
  }
  .leasing__wrap2 {
    -ms-grid-columns: 61% 49%;
        grid-template-columns: 61% 49%;
    row-gap: 13px;
  }
  .leasing__title {
    font-size: 18px;
    line-height: 26px;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .leasing__item {
    font-size: 14px;
    line-height: 18px;
    width: 227px;
  }
  .leasing__item_bold {
    font-size: 14px;
    line-height: 24px;
    text-align: end;
    width: 126px;
    letter-spacing: 0;
  }
  .leasing__special {
    display: none;
  }
  .partners {
    padding-left: 16px;
    padding-right: 16px;
  }
  .partners__title {
    font-size: 24px;
    line-height: 36px;
    margin-top: 2px;
    margin-left: 23px;
    margin-bottom: 33px;
  }
  .partners__icon {
    left: -24px;
  }
  .partners__text {
    font-size: 14px;
    line-height: 18px;
  }
  .partners__text_extra {
    display: none;
  }
  .bank {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }
  .bank__btn {
    padding-top: 50px;
  }
  .bank__img {
    width: 150px;
  }
  .footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 30px 21px 30px 16px;
  }
  .footer__logo {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3/1/4/2;
  }
  .site-map {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
    padding: 0;
  }
  .site-map__list {
    gap: 15px;
    margin-bottom: 30px;
  }
  .site-map__sublist_sublist2 {
    -webkit-box-flex: 0%;
        -ms-flex: 0%;
            flex: 0%;
  }
  .social {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
    margin-bottom: 9px;
  }
  .copyright {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 4/1/5/2;
    max-width: 255px;
  }
  .bot {
    display: none;
  }
}
/*# sourceMappingURL=media.css.map */